* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  height: 100%;
  border: 1px solid red;
}

.pai {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.filho {
  width: 50px;
  height: 50px;
  background-color: chocolate;
  border: 1px solid;
}